<header class="header" id="header">
  <div class="container">
    <div class="header__body">
      <a href="#wrapper" class="header__logo anchor"><img src="img/ActiveBox.png" alt=""></a>
      <nav class="header__menu" id="menu">
        <ul class="header__list">
          <li><a href="#features" class="header__link anchor">Features</a></li>
          <li><a href="#works" class="header__link anchor">Works</a></li>
          <li><a href="#team" class="header__link anchor">Our Team</a></li>
          <li><a href="#testimonials" class="header__link anchor">Testimonials</a></li>
          <li><a href="#download" class="header__link anchor">Download</a></li>
        </ul>
      </nav>
      <div class="header__burger"><span></span></div>
    </div>
  </div>
</header>