body,
html {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  // font-size: 15px;
  // color: rgb(51, 51, 51);
  // line-height: 1.6;

  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0px auto;
  // padding: 0 15px;
  // background: aqua;
}

.content {
  flex: 1 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &.fixed {
    position: fixed;
    background-color: rgba(49, 52, 84, 0.94);

    & .header__body {
      height: 60px;
      border-bottom: 0;
    }
  }

  @media (max-width: 1200px) {
    padding: 0 20px;
  }

  &__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.212);

    @media (max-width: 767px) {
      height: 60px;
    }
  }

  &__logo {
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 3;
  }

  &__logo img {
    max-width: 100%;
    display: block;
  }

  &__menu {
    @media (max-width: 767px) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(80, 83, 105, 0.95);
      padding: 100px 10px 20px 30px;
      transition-duration: 0.3s;
      // transition: all 0.3s ease 0s;
      z-index: 2;
      &.active {
        left: 0;
      }
    }
  }

  &__list {
    display: flex;
    position: relative;
    z-index: 2;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__list li {
    list-style: none;
    margin: 0px 0px 0px 59px;

    @media (max-width: 990px) {
      margin: 0px 0px 0px 35px;
    }

    @media (max-width: 767px) {
      margin: 0px 0px 40px 0px;
    }
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition-duration: 0.2s;
    &:hover {
      color: rgb(167, 165, 165);
    }
    &.active{
      color: rgb(167, 165, 165);
    }
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
    &:before,
    &:after {
      content: "";
      background-color: rgb(255, 255, 255);
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    &.active:before {
      transform: rotate(45deg);
      top: 9px;
    }
    &.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    & span {
      position: absolute;
      background-color: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
    &.active span {
      transform: scale(0);
    }

    @media (max-width: 767px) {
      display: block;
    }
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  padding-top: 100px;
  background: url(../img/intro_back.jpg) center no-repeat;
  background-size: cover;
  margin-bottom: 120px;
  @media (max-width: 770px) {
    height: auto;
    margin-bottom: 80px;
  }
  @media (max-width: 575px) {
    margin-bottom: 60px;
  }

  &__body {
    max-width: 970px;
    margin: 0px auto;
  }

  &__title {
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 65px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    @media (max-width: 990px) {
      font-size: 50px;
      padding: 0 10px;
    }
    @media (max-width: 770px) {
      font-size: 35px;
      margin-top: 40px;
      padding: 0 10px;
    }
    @media (max-width: 575px) {
      font-size: 30px;
      padding: 0 10px;
    }
  }

  &__text {
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    @media (max-width: 770px) {
      font-size: 16px;
      padding: 0 10px;
    }
  }

  &__btn {
    display: block;
    background-color: #e84545;
    border-radius: 2px;
    width: 200px;
    margin: 77px auto 0;
    padding: 18px 0;
    text-align: center;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition-duration: 0.2s;
    &:hover {
      background-color: #a74c4c;
    }
    @media (max-width: 770px) {
      margin: 60px auto 40px;
    }
  }
}

.features {
  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: 33.33333%;
    margin-bottom: 74px;
    @media (max-width: 770px) {
      width: 50%;
    }
    @media (max-width: 575px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__img {
    display: block;
    margin: 0px auto;
  }

  &__title {
    margin-top: 34px;
    text-align: center;
    color: #2d3033;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    margin: 25px auto 0;
    max-width: 300px;
    text-align: center;
    color: #6c7279;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    @media (max-width: 990px) {
      padding: 0 15px;
    }
  }
}

.eightcards {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -1px;
  @media (max-width: 770px) {
    margin-top: 10px;
  }
  @media (max-width: 575px) {
    margin-right: 0;
  }

  &__item {
    position: relative;
    display: block;
    width: 25%;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    z-index: 0;
    &:hover .eightcards__info {
      opacity: 0.9;
    }
    @media (max-width: 770px) {
      width: 50%;
    }
    @media (max-width: 575px) {
      width: 100%;
      border-right: 0;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__img img {
    display: block;
  }

  &__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(232, 69, 69, 0.9);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-duration: 0.5s;
    text-align: center;
    color: #ffffff;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 13px;
    font-size: 14px;
    font-weight: 400;
  }
}

.team {
  margin-top: 100px;
  @media (max-width: 1200px) {
    padding: 0 10px;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 770px) {
      justify-content: center;
    }
  }

  &__item {
    width: 23%;
    @media (max-width: 770px) {
      padding: 0 15px;
      width: 50%;
      text-align: center;
      margin-bottom: 30px;
    }
    @media (max-width: 575px) {
      width: 100%;
      padding: 0 20px;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    @media (max-width: 770px) {
      margin: 0px auto;
    }
  }

  &__img img {
    display: block;
  }

  &__title {
    margin-top: 30px;
    color: #2d3033;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
  }

  &__subtitle {
    margin-top: 16px;
    color: #e84545;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 25px;
    color: #6c7279;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }

  &__socials {
    margin-top: 30px;
  }

  &__socials i {
    cursor: pointer;
    padding: 10px 0;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    font-size: 18px;
    color: #c6cacc;
    border: 1px solid #c6cacc;
    transition-duration: 0.2s;
    &:hover {
      background-color: #c6cacc;
      color: #fff;
    }
  }
}

.reviews {
  margin-top: 114px;
  background-color: #53354a;
  overflow: hidden;
  @media (max-width: 770px) {
    margin-top: 60px;
  }

  &__slider {
    // height: 500px;
    overflow: hidden;
    & .slick-initialized {
      height: auto;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 50%;
    left: 70%;
    transform: translateX(-50%);
    bottom: 0;
    padding-bottom: 30px;

    @media (max-width: 990px) {
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    & button {
      width: 15px;
      height: 15px;
      background: #fff;
      border-radius: 50%;
      border: 0;
      font-size: 0;
      color: transparent;
      cursor: pointer;
    }

    & li {
      margin: 0 5px;
    }

    & .slick-active button {
      background-color: #9b6089;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  &__photo {
    width: 50%;
    height: 500px;
    position: relative;
    @media (max-width: 990px) {
      width: 100%;
      margin-bottom: 30px;
    }
    @media (max-width: 575px) {
      height: 200px;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30%;
    z-index: 10;
    @media (max-width: 990px) {
      right: 0;
    }
    @media (max-width: 575px) {
      height: 200px;
      top: 0;
      transform: translateY(0);
      right: 0%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
    z-index: 10;
    background-color: #53354a;
    @media (max-width: 990px) {
      width: 100%;
      padding: 0 15px 40px 15px;
      text-align: center;
    }
  }

  &__text {
    color: #ffffff;
    font-family: "Cardo", serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    @media (max-width: 990px) {
      font-size: 25px;
    }
    @media (max-width: 575px) {
      font-size: 18px;
    }
  }

  &__author {
    margin-top: 30px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: 990px) {
      margin-bottom: 30px;
    }
  }
}

.download {
  margin-top: 100px;
  @media (max-width: 770px) {
    padding: 0 20px;
  }

  &__title {
    text-align: center;
    color: #2d3033;
    font-family: Raleway;
    font-size: 28px;
    font-weight: 300;
  }

  &__text {
    margin-top: 16px;
    text-align: center;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__btn {
    margin: 40px auto 100px;
    padding: 18px 0;
    display: block;
    text-align: center;
    width: 280px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #e84545;
    border-radius: 2px;
    transition-duration: 0.2s;
    &:hover {
      background-color: #a74c4c;
    }
  }
}

.contacts {
  text-align: center;
  background-color: #3a3e64;

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 250px;
    @media (max-width: 770px) {
      justify-content: center;
    }
  }

  &__item {
    width: 33%;
    @media (max-width: 770px) {
      width: 50%;
    }
    @media (max-width: 575px) {
      width: 100%;
      padding: 0 15px;
    }
  }

  &__title {
    margin-top: 71px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: 770px) {
      margin-top: 30px;
    }
  }

  &__text {
    margin-top: 22px;
    color: #9c9eb1;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    @media (max-width: 770px) {
      margin-bottom: 20px;
    }
  }

  &__btns {
    margin: 21px auto 0;
    @media (max-width: 575px) {
      margin-bottom: 20px;
    }
  }

  &__btns i {
    cursor: pointer;
    padding: 9px 0;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-right: 7px;
    font-size: 18px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    transition-duration: 0.2s;
    &:hover {
      background-color: #fff;
      color: #3a3e64;
      border: 2px solid #3a3e64;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

.footer {
  height: 94px;
  text-align: center;
  background-color: #313454;

  &__text {
    margin-top: 26px;
    color: #808080;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
  }

  &__heart {
    font-family: Webdings;
    color: #e84545;
  }

  &__author {
    color: #ffffff;
  }
}